<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    PhoneNumber: @ViewBag.PhoneNumber<br />
    Email: <a href="mailto:@ViewBag.Email">@ViewBag.Email</a> <br />
    Gmail: <a href="mailto:@ViewBag.Gmail">@ViewBag.Gmail</a> <br />
    Linkidin: <a href="@ViewBag.Linkedin">@ViewBag.Linkedin</a>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>